transfer_compute_share_flow_definition.json
{
    "Comment": "Transfer, process and distribute/share files",
    "StartAt": "TransferRaw",
    "States": {
        "TransferRaw": {
            "Comment": "Transfer raw data to a Globus Compute endpoint",
            "Type": "Action",
            "ActionUrl": "https://actions.automate.globus.org/transfer/transfer",
            "Parameters": {
                "source_endpoint_id.$": "$.input.source.id",
                "destination_endpoint_id.$": "$.input.destination.id",
                "transfer_items": [
                    {
                        "source_path.$": "$.input.source.path",
                        "destination_path.$": "$.input.destination.path",
                        "recursive.$": "$.input.recursive_tx"
                    }
                ]
            },
            "ResultPath": "$.TransferRaw",
            "WaitTime": 60,
            "Next": "ProcessFiles"
        },
        "ProcessFiles": {
            "Comment": "Process files by invoking a Globus Compute function",
            "Type": "Action",
            "ActionUrl": "https://compute.actions.globus.org/fxap",
            "Parameters": {
                "endpoint.$": "$.input.compute_endpoint_id",
                "function.$": "$.input.compute_function_id",
                "kwargs.$": "$.input.compute_function_kwargs"
            },
            "ResultPath": "$.ProcessFiles",
            "WaitTime": 180,
            "Next": "TransferResults"
        },
        "TransferResults": {
            "Comment": "Transfer processed files to a guest collection",
            "Type": "Action",
            "ActionUrl": "https://actions.automate.globus.org/transfer/transfer",
            "Parameters": {
                "source_endpoint_id.$": "$.input.destination.id",
                "destination_endpoint_id.$": "$.input.resultshare.id",
                "transfer_items": [
                    {
                        "source_path.$": "$.input.destination.path",
                        "destination_path.$": "$.input.resultshare.path",
                        "recursive.$": "$.input.recursive_tx"
                    }
                ]
            },
            "ResultPath": "$.TransferResults",
            "WaitTime": 60,
            "Next": "ShareResultFiles"
        },
        "ShareResultFiles": {
            "Comment": "Grant read permission on the data to a Globus user or group",
            "Type": "Action",
            "ActionUrl": "https://actions.automate.globus.org/transfer/set_permission",
            "Parameters": {
                "endpoint_id.$": "$.input.resultshare.id",
                "path.$": "$.input.resultshare.path",
                "operation": "CREATE",
                "permissions": "r",
                "principal_type.$": "$.input.principal_type",
                "principal.$": "$.input.principal_identifier"
            },
            "ResultPath": "$.ShareResultFiles",
            "End": true
        }
    }
}
