looping-batched-transfer-and-delete/definition.json
{
  "StartAt": "List",
  "States": {
    "List": {
      "Comment": "As an improvement, it may be worthwhile to first verify that $.source.path is a directory. This can be accomplished with two states -- an 'Action' state that calls 'stat', and a 'Choice' state that confirms the type is a 'dir'.",
      "Type": "Action",
      "ActionUrl": "https://transfer.actions.globus.org/ls",
      "Parameters": {
        "endpoint_id.$": "$.source.id",
        "path.$": "$.source.path",
        "limit": 100
      },
      "ResultPath": "$.ls_results",
      "Next": "CheckIfDone"
    },

    "CheckIfDone": {
      "Comment": "This is the gatekeeper for looping. This will continue to loop until all files and directories have been transferred and deleted.",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ls_results.details.total",
          "NumericEquals": 0,
          "Next": "Done"
        }
      ],
      "Default": "PrepareTransferDATA"
    },

    "Done": {
      "Type": "Pass",
      "End": true
    },

    "PrepareTransferDATA": {
      "Type": "ExpressionEval",
      "ResultPath": "$.transformations",
      "Next": "Transfer",
      "Parameters": {
        "transfer_DATA.=": "[{'source_path': source.path.rstrip('/') + '/' + item.name, 'destination_path': destination.path.rstrip('/') + '/' + item.name} for item in ls_results.details.DATA]"
      }
    },

    "Transfer": {
      "Comment": "Some validation may need to be added to verify that the items were transferred. This can be accomplished using a Choice state that looks at values in the $.transfer_results object.",
      "Type": "Action",
      "ActionUrl": "https://transfer.actions.globus.org/transfer",
      "ResultPath": "$.transfer_results",
      "Next": "PrepareDeleteDATA",
      "Parameters": {
        "DATA.$": "$.transformations.transfer_DATA",
        "source_endpoint.$": "$.source.id",
        "destination_endpoint.$": "$.destination.id"
      }
    },

    "PrepareDeleteDATA": {
      "Type": "ExpressionEval",
      "ResultPath": "$.transformations",
      "Next": "Delete",
      "Parameters": {
        "delete_DATA.=": "[{'path': source.path.rstrip('/') + '/' + item.name} for item in ls_results.details.DATA]"
      }
    },

    "Delete": {
      "Comment": "Some validation may need to be added to verify that the items were deleted. This can be accomplished using a Choice state that looks at values in the $.delete_results object. The delete task may also benefit from some options like 'ignore_missing'.",
      "Type": "Action",
      "ActionUrl": "https://transfer.actions.globus.org/delete",
      "ResultPath": "$.delete_results",
      "Next": "List",
      "Parameters": {
        "DATA.$": "$.transformations.delete_DATA",
        "endpoint.$": "$.source.id"
      }
    }
  }
}
